 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #f1f6fc31;
}

section,
footer{
    padding: 54px 0;
}

h3{
    font-size: 50px;
}

p{
    color: #0000009c;
}

.container{
    max-width: 1460px;
    margin: 0 auto;
    padding: 0 5%;
}

.btn{
    background-color: #4f9cf9;
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    transition: 0.1s;
    padding-left: 20px;
}

.btn.animate-btn {
    animation: animate-outline 1s ease-out infinite;
    margin-top: 30px;
    font-size: 16px;
}

btn:hover{
    background-color: #3580db;
}

@keyframes animate-outline{
    from{
        outline: 0px solid #4f9bf98a;
    }
    to{
        outline: 15px solid #4f9bf900;

    }
}

header{
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 30px;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul a{
    color: white;
    margin: 0 25px;
    text-transform: uppercase;
    font-size: 14px;
    display: block;
}

nav ul a::after{
    content: '';
    background-color: #4f9cf9;
    height: 3px;
    width: 0%;
    display: block;
    margin: 0 auto;
    transition: 0.3s;
}

nav ul a:hover::after{
    width: 100%;
}

.banner{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.banner .banner-text h1{
    color: #fefefe;
    font-size: 75px;
    font-weight: 200;
    position: relative;
    top: -25px;
    line-height: 118%;
    padding-top: 20px;
}

.banner .banner-text h1 span{
    color: #ABD0E5;
    margin-right: 22px;
    font-family: mv boli;
    font-weight: 700;
}

.banner .banner-text p{
    font-size: 20px;
    color: #ffffffb7;
    font-weight: lighter;
    margin: 18px 0;
    line-height: 118%;
}

.banner .banner-text .btn a{
    padding-left: 200px;
}

.banner .banner-img img{
    width: 650px;
    padding-top: 70px;
    padding-left: 90px;
    animation: animate 5s linear infinite;
}

.banner .banner-text h3{
    position: relative;
    bottom: 10px;
    font-size: 25px
}

/* saiba mais */

.saiba-mais .container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    padding-top: 60px;
}

.saiba-mais .saiba-mais-text{
    width: 50%;
    padding: 0 40px;
}

.saiba-mais .saiba-mais-video{
    width: 50%;
}

.saiba-mais .container .saiba-mais-text h1{
    font-size: 55px;
    position: relative;
    bottom: 30px;
    font-weight: 300;
}

.saiba-mais .container .saiba-mais-text h1 span{
    color: #ABD0E5;
    margin-right: 22px;
    font-family: mv boli;
    font-weight: 700;
}

.saiba-mais .container .saiba-mais-text h3{
    position: relative;
    bottom: 10px;
    font-size: 20px;
}

.saiba-mais .container .saiba-mais-text p{
    width: 650px;
    text-align: justify;
    line-height: 23px;
    margin-top: 20px;
    font-size: 20px;
    color: black;
}

/* importante */
.titulo .titulo-main{
    text-align: center;
    padding-top: 70px;
    padding-bottom: -4px;
}

.titulo .titulo-main h3 span{
    color: #ABD0E5;
    font-family: mv boli;
}


.importante .container{
    display: flex;
    align-items: center;
}

.importante .importante-text{
    width: 50%;
    padding: 0 40px;
    text-align: justify;
    line-height: 23px;
    margin-top: 20px;
    font-size: 18px;
}

.importante .importante-text h4{
    font-size: 15px;
    font-weight: 300;
}

.importante .importante-text p{
    margin: 5px 0 10px 0;
    color: black;
}

.importante .importante-img{
    width: 50%;
}

.importante .importante-img img{
    width: 100%;
}

/* metas */
.metas .container{
    padding-top: 75px;
    padding-bottom: 170px;
}

.metas h3{
    text-align: center;
}

.metas h3 span{
    color: #ABD0E5;
    margin-right: 17px;
    margin-left: 10px;
    font-family: mv boli;
    font-weight: 700;
}

.metas p{
    margin-bottom: 40px;
    text-align: center;
    color: black;
}

.cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
	flex-wrap: wrap;
	gap: 30px;
	justify-content: center;
}

.metas .card-item{
    background-color: #d3e6fd;
    margin: 15px;
    border-radius: 14px;
    text-align: center;
    width: 350px;
    transition: 0.3s;
}

.metas .card-item img{
    padding-top: 12px;
    border-radius: 20%;
    width: 80px;
    display: block;
    margin: 10px auto;
}

.metas .card-item .nome-meta{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 15px;
    transition: 0.3s;
}

.metas .card-item .explicacao{
    font-size: 15px;
    padding: 0 15px;
    transition: 0.3s;
}

.metas .card-item:hover{
    background-color: #5ca5fe;
    margin-top: -1px;
}

.metas .card-item:hover .nome-meta{
    color: white;
}

.metas .card-item:hover .explicacao{
    color: white;
}

footer{
    position: relative;
    width: 100%;
    background: #3586ff;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .social_icon,
footer .menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

footer .social_icon li,
footer .menu li{
    list-style: none;
}
footer .social_icon li a,
footer .menu li a{
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

footer  .social_icon li a:hover{
    transform: translateY(-10px)
}

footer .menu li a{
    font-size: 1.2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.75;
}

footer .menu li a:hover{
    opacity: 1;
}

footer p{
    color: #fff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
}

footer .wave{
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(image/wave.png);
    background-size: 1000px 100px;
}

footer .waves #wave1{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}

footer .waves #wave2{
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_02 4s linear infinite;
}

footer .waves #wave3{
    z-index: 999;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave_03 3s linear infinite;
}

footer .waves #wave4{
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave_04 3s linear infinite;
} 

::-webkit-scrollbar{
    width: 12px;
    border: 1px solid rgb(200, 200, 200);
}

::-webkit-scrollbar-thumb{
    background-color: #ABD0E5;
    border-radius: 7px;
}

@keyframes animateWave{
    0%
    {
        background-position-x: 1000px;
    }
    100%
    {
        background-position-x: 0px;
    }
}

@keyframes animateWave_02{
    0%
    {
        background-position-x: 0px;
    }
    100%
    {
        background-position-x: 999px;
    }
}

@keyframes animateWave_03{
    0%
    {
        background-position-x: 0px;
    }
    100%
    {
        background-position-x: 1000px;
    }
}

@keyframes animateWave_04{
    0%
    {
        background-position-x: 0px;
    }
    100%
    {
        background-position-x: 1000px;
    }
}


@keyframes animate{
    0%{
        transform: scale(1.1);
    }
    50%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.1);
    }
}


@media(max-width:830px){

    .ul {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        clip-path: circle(0% at 100% 0);
        transition: 0.7s;
        background: #184b88;
    }

    .ul.open{
        clip-path: circle(141.2% at 100% 0);
    }
    
    .ul a {
        margin: 10px 0;
        font-size: 16px;
    }

    nav .menu-icon {
        display: block;
    }

    nav .close-icon {
        display: block;
        position: absolute;
        top: 46px;
        right: 28px;
    }
    .saiba-mais .saiba-mais-text{
        margin-top: 10px;
        padding: 0 20px;
        order: 1;
    }

    .saiba-mais .container{
        flex-direction: column;
    }

    .saiba-mais .saiba-mais-text h1 h3{
        font-size: 48px;
    }

    .saiba-mais .saiba-mais-text,
    .saiba-mais .saiba-mais.video{
        width: 100%;
    }
    .importante .importante-text {
        margin-top: 10px;
        padding: 0 20px;
        order: 1;
    }

    .importante .titulo h3{
        margin-top: 10px;
        padding: 0 20px;
        order: 1;
    }

    .importante .container {
        flex-direction: column;
    }

    .importante .titulo h3{
        font-size: 48px;
    }

    .importante .importante-text,
    .imporante .importante-img {
        width: 100%;
    }

    .banner .banner-text {
        padding: 0;
        margin: 80px;
    }

    .banner .banner-text h1 {
        font-size: 80px;
    }

    .banner .banner-text p {
        font-size: 15px;
    }

    .metas .card-item {
        width: 100%;
    }

}

@media(max-width: 500px) {
    .banner .banner-text h1 {
        font-size: 50px;
    }

    .saiba-mais .saiba-mais-text h3 {
        font-size: 40px;
    }
}








 
